@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,600&display=swap");
* {
  line-height: 0;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 760px) {
  .nav-bar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-bar {
  font-size: 90%;
  background: rgba(255, 255, 255, 0);
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-bar img {
  max-height: 4.5rem;
  margin: 0 1.5rem 0 3rem;
}

.nav-bar h1 {
  color: white;
  padding-left: 1rem;
  padding-right: 0.9rem;
  margin: 4.4rem 0 3.5rem 0;
  height: 1.4rem;
  border: 4px #fec508 solid;
  border-top: 0;
}

@media (max-width: 1168px) {
  .nav-bar img {
    margin: 3rem 1.5rem 3rem auto;
  }
  .nav-bar h1 {
    margin: 2.5rem auto 1.5rem 0;
  }
}

.jumbotron-container {
  width: 100%;
  min-height: 286.48px;
}

.jumbotron-container .city-and-close-button {
  font-size: 90%;
  color: white;
  padding: 0 0 0 0.5rem;
}

@media (max-width: 1168px) {
  .jumbotron-container .city-and-close-button {
    color: white;
    padding: 0 0 0 1.5rem;
  }
}

@media (max-width: 590px) {
  .jumbotron-container .city-and-close-button {
    font-size: 70%;
  }
}

.jumbotron {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
  margin: 2rem auto 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 259px;
}

.jumbotron .jumbotron-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.26);
  margin-top: 1rem;
  width: 100%;
  height: 58px;
  cursor: pointer;
  text-align: center;
}

.jumbotron .jumbotron-item .item-temp {
  margin-top: 0.1rem;
}

.jumbotron .jumbotron-item h2 {
  font-size: 96%;
}

.jumbotron .jumbotron-item h5 {
  margin-top: 1rem;
}

.jumbotron .jumbotron-item h3 {
  font-size: 80%;
}

.jumbotron .jumbotron-item * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 910px) {
  .jumbotron .jumbotron-item p {
    padding-bottom: 0.1rem;
  }
}

@media (max-width: 590px) {
  .jumbotron .jumbotron-item p,
  .jumbotron .jumbotron-item h5 {
    font-size: 75%;
  }
  .jumbotron .jumbotron-item h3,
  .jumbotron .jumbotron-item h2 {
    font-size: 85%;
  }
}

@media (max-width: 910px) {
  .jumbotron .jumbotron-item p,
  .jumbotron .jumbotron-item h5 {
    font-size: 85%;
  }
  .jumbotron .jumbotron-item p {
    margin-top: -0.2rem;
    padding-bottom: 0.1rem;
  }
  .jumbotron .jumbotron-item h2 {
    font-size: 95%;
  }
}

@media (max-width: 590px) {
  .jumbotron .jumbotron-item h5 {
    font-size: 55%;
  }
  .jumbotron .jumbotron-item p {
    font-size: 70%;
  }
  .jumbotron .jumbotron-item h5 {
    margin-top: 0.6rem;
    padding-bottom: 0.2rem;
  }
  .jumbotron .jumbotron-item h2 {
    font-size: 70%;
  }
  .jumbotron .jumbotron-item h3 {
    font-size: 65%;
  }
}

@media (max-width: 390px) {
  .jumbotron .jumbotron-item h5 {
    font-size: 45%;
    margin-top: 0.6rem;
    padding-bottom: 0.2rem;
  }
  .jumbotron .jumbotron-item h2 {
    font-size: 60%;
  }
  .jumbotron .jumbotron-item h3 {
    font-size: 50%;
  }
  .jumbotron .jumbotron-item .item-day {
    max-width: 40px;
  }
}

.jumbotron .jumbotron-item-days {
  display: none;
}

.jumbotron .jumbotron-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* border-radius: 1rem; */
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
  max-height: 1.6rem;
  text-align: center;
}

.jumbotron .jumbotron-content * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.jumbotron .jumbotron-content h3 {
  font-size: 96%;
}

.jumbotron .jumbotron-content p {
  font-size: 95%;
}

@media (min-width: 910px) {
  .jumbotron .jumbotron-content p {
    padding-bottom: 0.1rem;
  }
}

@media (max-width: 590px) {
  .jumbotron .jumbotron-content p {
    font-size: 75%;
  }
  .jumbotron .jumbotron-content h3 {
    font-size: 60%;
  }
  .jumbotron .jumbotron-content h4 {
    font-size: 70%;
  }
}

@media (max-width: 910px) {
  .jumbotron .jumbotron-content h5 {
    font-size: 85%;
  }
  .jumbotron .jumbotron-content p {
    font-size: 80%;
  }
  .jumbotron .jumbotron-content h4 {
    font-size: 80%;
  }
  .jumbotron .jumbotron-content h3 {
    font-size: 80%;
  }
}

@media (max-width: 590px) {
  .jumbotron .jumbotron-content p {
    font-size: 70%;
  }
  .jumbotron .jumbotron-content h5 {
    margin-top: 0.6rem;
    padding-bottom: 0.2rem;
    font-size: 55%;
  }
  .jumbotron .jumbotron-content h3 {
    font-size: 66%;
  }
}

@media (max-width: 390px) {
  .jumbotron .jumbotron-content h5 {
    font-size: 45%;
    margin-top: 0.6rem;
    padding-bottom: 0.2rem;
  }
}

@media (min-width: 1552px) {
  .jumbotron {
    width: 70rem;
  }
}

@media (max-width: 1552px) {
  .jumbotron {
    width: 70rem;
  }
}

@media (max-width: 1168px) {
  .jumbotron {
    width: 100%;
    border: 0;
    /*border-top: 1px white solid;*/
  }
}

.widget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  font-size: 125%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 122px;
}

.widget {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.404);
          box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.404);
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  width: 20rem;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 1rem;
  color: #f8f8f8;
}

.widget .close {
  background-color: transparent;
  border: none;
  margin-top: -0.85rem;
  margin-left: -0.75rem;
  height: 0px;
  width: 0px;
  display: none;
  color: rgba(0, 0, 0, 0.336);
}

.widget .close h5 {
  margin-left: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.widget .upper-wideget {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.widget .upper-wideget .close:focus {
  outline: none;
}

.widget .upper-wideget .close:hover {
  color: rgba(0, 0, 0, 0.473);
}

.widget .upper-wideget .city {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: left;
  width: 8.5rem;
  margin-left: 0.3rem;
  font-size: 105%;
}

.widget .upper-wideget .city h5 {
  margin-bottom: 1.1rem;
  margin-left: -0.35rem;
}

.widget .upper-wideget p {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  font-size: 65%;
}

.widget .upper-wideget .wind-speed {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  margin-top: 1.5rem;
}

.widget .upper-wideget .humidity {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  margin-top: 1.5rem;
}

.widget .upper-wideget .rain {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  margin-top: 1.5rem;
}

.widget .upper-wideget .cloud {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  margin-top: 1.5rem;
}

.widget .upper-wideget .temp {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -5.3rem;
  height: 2.5rem;
  width: 5rem;
}

.widget .upper-wideget .temp * {
  margin-left: auto;
  margin-top: 1.5rem;
}

@media (max-width: 410px) {
  .widget .upper-wideget .city {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: left;
    width: 6.9rem;
  }
  .widget .upper-wideget .wind-speed {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.4rem;
    margin-top: 1.3rem;
  }
  .widget .upper-wideget .humidity {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.4rem;
    margin-top: 1.3rem;
  }
  .widget .upper-wideget .rain {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.4rem;
    margin-top: 1.3rem;
  }
  .widget .upper-wideget .cloud {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.4rem;
    margin-top: 1.3rem;
  }
  .widget .upper-wideget .temp {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 135%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -5.3rem;
    height: 2.5rem;
    width: 5rem;
  }
  .widget .upper-wideget .temp * {
    margin-left: auto;
    margin-top: 1.5rem;
  }
}

.widget .lower-widget {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 56%;
  text-align: center;
  margin-top: -0.1rem;
}

.widget .lower-widget p {
  padding-top: 0.5rem;
  border-top: rgba(255, 255, 255, 0.603) 1px solid;
}

.widget .lower-widget * {
  opacity: 85%;
  margin-top: -0.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 0.25rem;
}

@media (max-width: 410px) {
  .widget {
    width: 16rem;
  }
}

.widget:hover {
  cursor: pointer;
}

.day-clear {
  background-image: url("images/day-clear.png");
}

.day-cloudy-1 {
  background-image: url("images/day-cloudy-1.png");
}

.day-cloudy-2 {
  background-image: url("images/day-cloudy-2.png");
}

.day-cloudy-3 {
  background-image: url("images/day-cloudy-3.png");
}

.day-cloudy-4 {
  background-image: url("images/day-cloudy-4.png");
}

.day-cloudy-5 {
  background-image: url("images/day-cloudy-5.png");
}

.day-cloudy-1-rainy {
  background-image: url("images/day-cloudy-1-rainy.png");
}

.day-cloudy-2-rainy {
  background-image: url("images/day-cloudy-2-rainy.png");
}

.day-cloudy-3-rainy {
  background-image: url("images/day-cloudy-3-rainy.png");
}

.day-cloudy-4-rainy {
  background-image: url("images/day-cloudy-4-rainy.png");
}

.day-cloudy-5-rainy {
  background-image: url("images/day-cloudy-5-rainy.png");
}

.day-cloudy-1-snowy {
  background-image: url("images/day-cloudy-1-snowy.png");
}

.day-cloudy-2-snowy {
  background-image: url("images/day-cloudy-2-snowy.png");
}

.day-cloudy-3-snowy {
  background-image: url("images/day-cloudy-3-snowy.png");
}

.day-cloudy-4-snowy {
  background-image: url("images/day-cloudy-4-snowy.png");
}

.day-cloudy-5-snowy {
  background-image: url("images/day-cloudy-5-snowy.png");
}

.search-container {
  background: linear-gradient(10deg, #16334b 30%, #336a83);
  margin-top: 5rem;
  padding-bottom: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 16.8rem;
}

.search-container .search-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-container .search-input-container h1 {
  color: #f8f8f8;
  font-size: 3rem;
}

.search-container .search-input-container input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.247);
          box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.247);
}

.search-container .search-input-container .search-input {
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
  margin-top: 4rem;
  width: 405px;
  height: 3.2rem;
  padding-left: 1rem;
  padding-right: 3rem;
  border: none;
  border-radius: 1.1rem;
  font-size: 125%;
  background: linear-gradient(200deg, #f7f7f7 30%, #dfdfdf);
}

.search-container .search-input-container .search-button {
  width: 3.8rem;
  height: 2.8rem;
  border-radius: 1rem;
  border: none;
  margin-top: 5.1em;
  margin-left: -4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(15deg, #d4d4d4 30%, #bebebe);
}

.search-container .search-input-container .search-button h5 {
  margin-left: 0.3rem;
}

.search-container .search-input-container .search-button:focus {
  outline: none;
}

.search-container .search-input-container .search-button:active {
  background: linear-gradient(15deg, #c5c5c5 30%, #bebebe);
  outline: none;
}

@media (max-width: 510px) {
  .search-container .search-input-container .search-input {
    width: 14rem;
  }
}

.search-container .search-result-container {
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  margin-left: 0.22rem;
  width: 28rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(200deg, #f7f7f7 30%, #dfdfdf);
}

.search-container .search-result-container .search-result {
  height: 3rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  border-radius: 0.9rem;
  border: none;
  background: linear-gradient(15deg, #d4d4d4 30%, #bebebe);
}

.search-container .search-result-container .search-result p {
  font-size: 125%;
  margin-top: 1.5rem;
}

.search-container .search-result-container .search-result:focus {
  outline: none;
}

.search-container .search-result-container .search-result:active {
  background: linear-gradient(15deg, #c5c5c5 30%, #bebebe);
  outline: none;
}

@media (max-width: 510px) {
  .search-container .search-result-container {
    width: 16rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 20rem;
  height: 10rem;
}
/*# sourceMappingURL=style.css.map */