@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,600&display=swap");
* {
  line-height: 0;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Mono", monospace;
}

body {
  background-image: linear-gradient(200deg, #ffefe983 15%, #fcfcfce1), url("/styles/images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-bar {
  font-size: 110%;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  padding: 1rem;
  color: white;
}

.jumbotron {
  min-height: 15rem;
}

.widget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  font-size: 125%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  width: 20rem;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 1rem;
  color: #f8f8f8;
}

.widget .upper-wideget {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.widget .upper-wideget .city {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: left;
  width: 9rem;
  font-size: 105%;
}

.widget .upper-wideget .city h5 {
  margin-bottom: 1.3rem;
  margin-left: -0.35rem;
}

.widget .upper-wideget p {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  font-size: 65%;
}

.widget .upper-wideget .wind-speed {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  margin-top: 1.5rem;
}

.widget .upper-wideget .humidity {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  margin-top: 1.5rem;
}

.widget .upper-wideget .rain {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  margin-top: 1.5rem;
}

.widget .upper-wideget .cloud {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  margin-top: 1.5rem;
}

.widget .upper-wideget .temp {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -0.5rem;
  margin-left: -5.5rem;
  height: 4rem;
  width: 5rem;
}

.widget .upper-wideget .temp * {
  margin-left: auto;
}

@media (max-width: 510px) {
  .widget .upper-wideget .city {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: left;
    width: 7rem;
  }
  .widget .upper-wideget .wind-speed {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.4rem;
    margin-top: 1rem;
  }
  .widget .upper-wideget .humidity {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.4rem;
    margin-top: 1rem;
  }
  .widget .upper-wideget .rain {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.4rem;
    margin-top: 1rem;
  }
  .widget .upper-wideget .cloud {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 2.4rem;
    margin-top: 1rem;
  }
  .widget .upper-wideget .temp {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 150%;
    display: none;
    margin-top: -0.5rem;
    margin-left: -2.6rem;
    height: 2rem;
  }
}

.widget .lower-widget {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 56%;
  text-align: center;
  margin-top: -0.1rem;
}

.widget .lower-widget p {
  padding-top: 0.5rem;
  border-top: white 1px solid;
}

.widget .lower-widget * {
  opacity: 85%;
  margin-top: -0.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 0.25rem;
}

@media (max-width: 510px) {
  .widget {
    width: 16rem;
  }
}

.widget:hover {
  cursor: pointer;
}

.day-clear {
  background-image: url("images/day-clear.png");
}

.day-cloudy {
  background-image: url("images/day-cloudy.png");
}

.day-cloudy-rainy {
  background-image: url("images/day-cloudy-rainy.png");
}

.day-cloudy-snowy {
  background-image: url("images/day-cloudy-snowy.png");
}

.search-container {
  background: linear-gradient(10deg, #16334b 30%, #336a83);
  margin-top: 5rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-container .search-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-container .search-input-container h1 {
  color: #f8f8f8;
  font-size: 3rem;
}

.search-container .search-input-container input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.247);
          box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.247);
}

.search-container .search-input-container .search-input {
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
  margin-top: 4rem;
  height: 4.2rem;
  padding-left: 2rem;
  padding-right: 3rem;
  border: none;
  border-radius: 2.1rem;
  font-size: 200%;
  background: linear-gradient(200deg, #f7f7f7 30%, #dfdfdf);
}

.search-container .search-input-container .search-button {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 2rem;
  border: none;
  margin-top: 5.1em;
  margin-left: -4.15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background: linear-gradient(15deg, #d4d4d4 30%, #bebebe);
}

.search-container .search-input-container .search-button:focus {
  outline: none;
}

.search-container .search-input-container .search-button:active {
  background: linear-gradient(15deg, #c5c5c5 30%, #bebebe);
  outline: none;
}

@media (max-width: 510px) {
  .search-container .search-input-container .search-input {
    width: 14rem;
  }
}

.search-container .search-result-container {
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  margin-left: 0.25rem;
  width: 28rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(200deg, #f7f7f7 30%, #dfdfdf);
}

.search-container .search-result-container .search-result {
  height: 3rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.5rem;
  border: none;
  background: linear-gradient(15deg, #d4d4d4 30%, #bebebe);
}

.search-container .search-result-container .search-result h3 {
  font-size: 125%;
  margin-top: 1.5rem;
}

.search-container .search-result-container .search-result:focus {
  outline: none;
}

.search-container .search-result-container .search-result:active {
  background: linear-gradient(15deg, #c5c5c5 30%, #bebebe);
  outline: none;
}

@media (max-width: 510px) {
  .search-container .search-result-container {
    width: 18rem;
  }
}

.footer {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 20rem;
  height: 5rem;
}
/*# sourceMappingURL=style.css.map */