@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,600&display=swap");
$titleColor: rgb(248, 248, 248);
$bgColor: linear-gradient(15deg, #00ccff 30%, #36d7ff);
$bgColor2: linear-gradient(10deg, #16334b 30%, #336a83);
$bgLinear: linear-gradient(200deg, #f7f7f7 30%, #dfdfdf);
$bgTransparent: rgba(255, 255, 255, 0);
$buttonColor: linear-gradient(15deg, #d4d4d4 30%, #bebebe);
$buttonActiveColor: linear-gradient(15deg, rgb(197, 197, 197) 30%, #bebebe);
$smallShadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.5);
* {
  line-height: 0;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Mono", monospace;
}
body {
  // background-image: linear-gradient(to bottom, #008cff, #ffffff);
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
@media (max-width: 760px) {
  .nav-bar {
    align-items: center;
  }
}
.nav-bar {
  font-size: 90%;

  background: $bgTransparent;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  img {
    max-height: 4.5rem;
    margin: 0 1.5rem 0 3rem;
  }
  h1 {
    color: white;
    padding-left: 1rem;
    padding-right: 0.9rem;
    margin: 4.4rem 0 3.5rem 0;
    height: 1.4rem;
    border: 4px #fec508 solid;
    border-top: 0;
  }
  @media (max-width: 1168px) {
    img {
      margin: 3rem 1.5rem 3rem auto;
    }
    h1 {
      margin: 2.5rem auto 1.5rem 0;
    }
  }
}
.jumbotron-container {
  width: 100%;
  .city-and-close-button {
    color: white;
    padding: 0 0 1rem 0.5rem;
  }
  @media (max-width: 1168px) {
    .city-and-close-button {
      color: white;
      padding: 0 0 1rem 1.5rem;
    }
  }
}

.jumbotron {
  /* border-radius: 1rem; */
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.555);
  margin: 0 auto 5rem auto;
  /*fixa media query som passaw widthen på alla widgets, mobil-versionen täcker hela sidan utan border på left right*/
  display: flex;
  flex-direction: column;

  border-bottom: 1px white solid;
  .jumbotron-item {
    display: flex;
    flex-direction: row;
    /* border-radius: 1rem; */
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.377);
    border-top: 1px white solid;

    /* border-bottom: 1px rgba(255, 255, 255, 0.5) solid; */
    width: 100%;
    cursor: pointer;
    text-align: center;
    .item-temp {
      margin-top: 0.1rem;
    }
    h5 {
      margin-top: 1rem;
    }
    * {
      flex: 1;
    }
    @media (min-width: 910px) {
      p {
        padding-bottom: 0.1rem;
      }
    }
    @media (max-width: 590px) {
      p,
      h5 {
        font-size: 75%;
      }
      h3,
      h2 {
        font-size: 85%;
      }
    }
    @media (max-width: 910px) {
      p,
      h5 {
        font-size: 85%;
      }
      p {
        margin-top: -0.2rem;
        padding-bottom: 0.1rem;
      }
    }
    @media (max-width: 590px) {
      h5 {
        font-size: 55%;
      }
      p {
        font-size: 70%;
      }
      h5 {
        margin-top: 0.6rem;
        padding-bottom: 0.2rem;
      }
    }
    @media (max-width: 390px) {
      h5 {
        font-size: 45%;
        margin-top: 0.6rem;
        padding-bottom: 0.2rem;
      }
    }
  }
  .jumbotron-item-days {
    display: none;
    // opacity: 0;
    // height: 0px;
  }
  .jumbotron-content {
    display: flex;
    flex-direction: row;
    /* border-radius: 1rem; */
    align-content: center;
    align-items: center;
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
    /*border-bottom: 1px rgba(255, 255, 255, 0.5) solid;*/
    background-color: rgba(0, 0, 0, 0.253);
    width: 100%;
    text-align: center;
    * {
      flex: 1;
    }
    @media (min-width: 910px) {
      p {
        padding-bottom: 0.1rem;
      }
    }
    @media (max-width: 590px) {
      p {
        font-size: 75%;
      }
      h3,
      h4 {
        font-size: 85%;
      }
    }
    @media (max-width: 910px) {
      p,
      h5 {
        font-size: 85%;
      }
      p {
      }
    }
    @media (max-width: 590px) {
      h5 {
        font-size: 55%;
      }
      p {
        font-size: 70%;
      }
      h5 {
        margin-top: 0.6rem;
        padding-bottom: 0.2rem;
      }
    }
    @media (max-width: 390px) {
      h5 {
        font-size: 45%;
        margin-top: 0.6rem;
        padding-bottom: 0.2rem;
      }
    }
  }
}

@media (min-width: 1552px) {
  .jumbotron {
    width: 94rem;
  }
}
@media (max-width: 1552px) {
  .jumbotron {
    width: 70rem;
  }
}
@media (max-width: 1168px) {
  .jumbotron {
    width: 100%;
    border: 0;
    /*border-top: 1px white solid;*/
    border-bottom: 1px white solid;
  }
}

.widget-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 125%;
  flex-wrap: wrap;
}
.widget {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  box-shadow: $smallShadow;
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  width: 20rem;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  border-radius: 1rem;
  color: $titleColor;
  .upper-wideget {
    height: 90px;
    display: flex;
    text-align: center;
    .city {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
      align-self: flex-end;
      text-align: left;
      width: 8.5rem;
      margin-left: 0.3rem;
      font-size: 105%;
      h5 {
        margin-bottom: 1.1rem;
        margin-left: -0.35rem;
      }
    }
    p {
      padding: 0;
      margin: 0;
      margin-top: 1rem;
      font-size: 65%;
    }
    .wind-speed {
      align-self: center;
      width: 3rem;
      margin-top: 1.5rem;
    }
    .humidity {
      align-self: center;
      width: 3rem;
      margin-top: 1.5rem;
    }
    .rain {
      align-self: center;
      width: 3rem;
      margin-top: 1.5rem;
    }
    .cloud {
      align-self: center;
      width: 3rem;
      margin-top: 1.5rem;
    }
    .temp {
      align-self: flex-start;
      font-size: 135%;
      display: flex;
      * {
        margin-left: auto;
        margin-top: 1.5rem;
      }
      margin-left: -5.3rem;
      height: 2.5rem;
      width: 5rem;
    }
    @media (max-width: 410px) {
      .city {
        align-self: flex-end;
        text-align: left;
        width: 6.9rem;
      }
      .wind-speed {
        align-self: center;
        width: 2.4rem;
        margin-top: 1.3rem;
      }
      .humidity {
        align-self: center;
        width: 2.4rem;
        margin-top: 1.3rem;
      }
      .rain {
        align-self: center;
        width: 2.4rem;
        margin-top: 1.3rem;
      }
      .cloud {
        align-self: center;
        width: 2.4rem;
        margin-top: 1.3rem;
      }
      .temp {
        align-self: flex-start;
        font-size: 135%;
        display: flex;
        * {
          margin-left: auto;
          margin-top: 1.5rem;
        }
        margin-left: -5.3rem;
        height: 2.5rem;
        width: 5rem;
      }
    }
  }
  .lower-widget {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
    width: 20rem;
    display: flex;
    justify-content: space-between;
    font-size: 56%;
    text-align: center;
    margin-top: -0.1rem;
    p {
      padding-top: 0.5rem;
      border-top: rgba(255, 255, 255, 0.603) 1px solid;
    }
    * {
      opacity: 85%;
      margin-top: -0.1rem;
      flex: 1;
      line-height: 0.25rem;
    }
  }
}
@media (max-width: 410px) {
  .widget {
    width: 16rem;
  }
}
.widget:hover {
  cursor: pointer;
}
.day-clear {
  background-image: url("images/day-clear.png");
}
.day-cloudy {
  background-image: url("images/day-cloudy.png");
}
.day-cloudy-rainy {
  background-image: url("images/day-cloudy-rainy.png");
}
.day-cloudy-snowy {
  background-image: url("images/day-cloudy-snowy.png");
}
.day-cloudy-1 {
  background-image: url("images/day-cloudy-1.png");
}
.day-cloudy-2 {
  background-image: url("images/day-cloudy-2.png");
}
.day-cloudy-3 {
  background-image: url("images/day-cloudy-3.png");
}
.day-cloudy-4 {
  background-image: url("images/day-cloudy-4.png");
}
.day-cloudy-5 {
  background-image: url("images/day-cloudy-5.png");
}
.search-container {
  background: $bgColor2;
  margin-top: 5rem;
  padding-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .search-input-container {
    display: flex;
    justify-content: center;
    h1 {
      color: $titleColor;
      font-size: 3rem;
    }
    input:focus {
      outline: none;
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.247);
    }
    .search-input {
      box-shadow: $smallShadow;
      margin-top: 4rem;
      height: 4.2rem;
      padding-left: 2rem;
      padding-right: 3rem;
      border: none;
      border-radius: 2.1rem;
      font-size: 200%;
      background: $bgLinear;
    }
    .search-button {
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 2rem;
      border: none;
      margin-top: 5.1em;
      margin-left: -4.15rem;
      display: flex;
      align-content: center;
      background: $buttonColor;
    }
    .search-button:focus {
      outline: none;
    }
    .search-button:active {
      background: $buttonActiveColor;
      outline: none;
    }
    @media (max-width: 510px) {
      .search-input {
        width: 14rem;
      }
    }
  }
  .search-result-container {
    box-shadow: $smallShadow;
    margin-top: 1rem;
    margin-left: 0.25rem;
    width: 28rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $bgLinear;
    .search-result {
      height: 3rem;
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;
      border-radius: 1.5rem;
      border: none;
      background: $buttonColor;
      h3 {
        font-size: 125%;
        margin-top: 1.5rem;
      }
    }
    .search-result:focus {
      outline: none;
    }
    .search-result:active {
      background: $buttonActiveColor;
      outline: none;
    }
  }
  @media (max-width: 510px) {
    .search-result-container {
      width: 18rem;
    }
  }
}
.footer {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  .footer-column {
    display: flex;
    justify-content: center;
    flex: 1;
    min-width: 20rem;
    height: 5rem;
  }
}
